<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <title>403 - Access denied</title>

  <link rel="stylesheet" th:href="@{/css/error.css}"/>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}"/>

</head>

<body class="error-body center">

<section class="col-md-10">
  <h1 class="error">500 - Server error !</h1>
  <h3>
    <i class="fa fa-frown-o fa-error"></i>
    Server error occurred, please try after some time
  </h3>
</section>

</body>
</html>