
.center {
  text-align: center !important;
}

.error {
  color: red !important;
  font-size: 50px !important;
}

.error-body {

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.fa-error {
  color: red !important;
  font-size: 50px !important;
  padding: 0px 5px !important;
}