
.header {
  width: 100% !important;
  z-index: 9999999 !important;
  padding: 0px !important;
  position: fixed !important;
  overflow: hidden !important;
  background-color: #333333 !important;
  top: 0 !important; left: 0 !important;
  box-shadow: 0px 0px 10px 2px #333 !important;
}

.user-picture {
  float: right !important;
  padding: 2px !important;
  margin: 2px 15px 2px 0px !important;
}
.user-picture img {
  width: 40px !important;
  background-color: white;
  border-radius: 50% !important;
  border: 1px solid #BBB !important;
  box-shadow: 0px 0px 5px 1px #999999 !important;
}

.user-info {
  position: fixed !important;
  padding: 2px 10px !important;
  top: 50 !important; right: 5 !important;

  z-index: 9999999 !important;
  border-radius: 5px !important;
  background-color: #FEFEFE !important;
  box-shadow: 0px 0px 5px 2px #AAA !important;
}

.logout {
  padding: 1px 10px !important;
  position: fixed !important;
  top: 50 !important; right: 5 !important;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999999 !important;
  border-radius: 5px !important;
  background-color: #FEFEFE !important;
  box-shadow: 0px 0px 5px 2px #999999 !important;
}
.logout a {
  text-decoration: none !important;
}