section {
  padding: 5px !important;
  margin: 10px 0px !important;
}

.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}

.center {
  text-align: center !important;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}
