
section {
  padding: 5px !important;
  margin: 10px 0px !important;
}

a {
  display: block;
  text-decoration: none !important;
}

.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}

.center {
  text-align: center !important;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

.login-wallpaper {

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background: url(../image/wallpaper.png) repeat fixed;
}

.login label, .login input {
  font-size: 18px !important;
}

.username, .password {
  padding: 18px 20px !important;
}

.btn-login {
  font-size: 18px !important;
}

.error {
  color: red !important;
  font-size: 16px !important;
}

.login-err {
  color: red !important;
  font-size: 15px !important;
  min-height: 25px !important;
}

.or {
  opacity: 0.5;
  font-size: 18px !important;
  padding: 10px 0px !important;
}

.or span {
  padding: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0px 0px 10px 1px #CCC !important;
}

.google {
  font-size: 20px !important;
  border-radius: 3px !important;
  box-shadow: 0px 0px 10px 1px #CCC !important;
}

.google img {
  width: 40px; height: 40px;
}

.login-logo {
  margin-top: -10px !important;
}
.radix-logo img {
  width: 100% !important;
}
.fa-connect {
  font-size: 20px !important;
  padding: 0px 5px !important;
}