<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-css">

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Connect Central</title>

  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

  <script th:src="@{/plugin/jquery/jquery.min.js}"></script>

  <script>
    $(document).ready(function() {

        $(".logout").hide();
        $('.user-info').hide();

        $(document).click(function(e) {
            if(e.target.id != 'user-img') $(".logout").hide("slide");
        });
        $('#user-img').click(function() {
            $('.user-info').fadeOut(100, function(){$('.logout').toggle("slide");});
        });

        $('#user-img').mouseout(function() {
            $('.user-info').fadeOut(500);
        });
        $('#user-img').mouseover(function() {
            if(!$('.logout').is(':visible')) $('.user-info').fadeIn();
        });
    });
  </script>

</head>

<body>

<header th:fragment="header" class="header">

  <div class="user-picture">
    <img id="user-img" th:src="${user.picture}" th:alt="${user.name}" onerror="this.src='/image/default-user.png'">
  </div>

  <div class="user-info">
    <h4 th:text="${user.name}"></h4>
    <a><h5 th:text="${user.user_id}"></h5></a>
  </div>

  <div class="logout center">
    <a th:href="@{/logout}">
      <h4><strong>Logout</strong></h4>
    </a>
  </div>

</header>

</body>
</html>