<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Connect Central</title>

  <link th:replace="header :: header-css"/>
  <link rel="stylesheet" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

</head>

<body>

<div th:replace="header :: header"></div>

<section class="row"></section>
<section class="row"></section>

<section class="rov center">

  <h1><strong>Welcome to Connect Central</strong></h1>

</section>

<section class="row">

</section>

</body>
</html>