<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Connect Central</title>

  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}"/>

</head>

<body class="login-wallpaper">

<section class="row col-md-3 login smart-form">

  <section class="row login-logo center">
    <div class="col-md-12">
      <div class="radix-logo">
        <img src="image/radix-logo.png"/>
        <h5 class="right no-margin no-padding">
          <strong><a><i class="fa fa-comments-o fa-connect"></i>Connect Central</a></strong>
        </h5>
      </div>
    </div>
  </section>

  <section class="row">
    <form id="connectLoginForm" class="no-margin" th:action="@{/login}" method="post">
      <fieldset class="no-padding no-margin">

        <div class="col-md-12 login-err" th:text="${param.error}"></div>

        <div class="col-md-12 form-group">
          <label>Username</label><span class="error" th:if="${param.error}"> *</span>
          <input class="form-control username" autofocus="true"
                 type="text" name="username" id="username"
                 placeholder="Username" autocomplete="false" required/>
        </div>
        <div class="col-md-12 form-group">
          <label>Password</label><span class="error" th:if="${param.error}"> *</span>
          <input class="form-control password" autofocus="true"
                 type="password" name="password" id="password"
                 placeholder="Password" autocomplete="false" required/>
        </div>

        <div class="col-md-5 right">
          <input type="submit" class="btn btn-login btn-primary btn-block" value="Sign In"/>
        </div>

      </fieldset>
    </form>
  </section>

  <section class="row center">
    <div class="col-md-12 or">
      <span>OR</span>
    </div>
  </section>

  <section class="row center">
    <div class="col-md-12">
      <div class="google">
        <a th:href="@{/oauth2/authorization/google}">
          <img th:src="@{/image/google-logo.png}"/> Sign in with Google</a>
      </div>
    </div>
  </section>

</section>

</body>
</html>